<div th:fragment="list_all_fragment"> <!-- <div th:replace=... -->
  <table class="table table-hover">
    <colgroup>
      <col style='width: 10%;'/>
      <col style='width: 20%;'/>
      <col style='width: 20%;'/>
      <col style='width: 10%;'/>    
      <col style='width: 15%;'/>
      <col style='width: 25%;'/>
    </colgroup>
    <thead>
      <tr>
        <th class="th_bs">번호</th>
        <th class="th_bs">중분류</th>
        <th class="th_bs">소분류</th>
        <th class="th_bs">자료수</th>
        <th class="th_bs">등록일</th>
        <th class="th_bs">순서 / 기타</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="cateVO, status:${list}">
        <td class="td_bs" th:text="|${no - status.index}|"></td>
        <td class="td_bs"><a th:href="@{|/cate/read/${cateVO.cateno}?word=${word}&now_page=${now_page}|}" style="display: block;" th:text="${cateVO.name}"></a></td>
        <td class="td_bs"><a th:href="@{|/cate/read/${cateVO.cateno}?word=${word}&now_page=${now_page}|}" style="display: block;" th:text="${cateVO.namesub}"></a></td>
        <td class="td_bs" th:text="${cateVO.cnt}"></td>
        <td class="td_bs" th:text="${cateVO.rdate.substring(5, 10)}"></td>
        <td class="td_bs">
          <span th:text="${cateVO.seqno}" style="margin-right: 3px;"></span>          
          <span th:if="${cateVO.visible == 'Y'}">
            <a th:href="@{|/cate/update_visible_n/${cateVO.cateno}?word=${word}&now_page=${now_page}|}"><img src="/cate/images/show.png" class="icon" title="출력"></a> <!-- /static/cate/images/show.png -->
          </span>
          <span th:unless="${cateVO.visible == 'Y'}">
            <a th:href="@{|/cate/update_visible_y/${cateVO.cateno}?word=${word}&now_page=${now_page}|}"><img src="/cate/images/hide.png" class="icon" title="숨김"></a> <!-- /static/cate/images/hide.png -->
          </span>          
          <a th:href="@{|/cate/update_seqno_forward/${cateVO.cateno}?word=${word}&now_page=${now_page}|}"><img src="/cate/images/decrease.png" class="icon"></a>
          <a th:href="@{|/cate/update_seqno_backward/${cateVO.cateno}?word=${word}&now_page=${now_page}|}"><img src="/cate/images/increase.png" class="icon"></a>
          <a th:href="@{|/cate/update/${cateVO.cateno}?word=${word}&now_page=${now_page}|}"><img src="/cate/images/update.png" class="icon"></a>
          <a th:href="@{|/cate/delete/${cateVO.cateno}?word=${word}&now_page=${now_page}|}"><img src="/cate/images/delete.png" class="icon"></a>
        </td>
      </tr>
    </tbody>
  </table>
  
  <!-- 페이지 버튼 목록 출력 시작 -->
  <div class="bottom_menu" th:utext="${paging}"></div>
  <!-- 페이지 버튼 목록 출력 종료 --> 
  
</div>











