<!DOCTYPE html>

<html layout:decorate="~{layout}"> <!-- layout.html 상속-->
<div layout:fragment="content">
  <div class='title_line'>
    카테고리 > 
    <span th:text="${cateVO.name}" class="title_line_text"></span >
    
    <span th:if="${cateVO.namesub != '-'}" th:text="' > ' + ${cateVO.namesub}" class="title_line_text"></span>
    
    삭제
  </div>
  <div id='panel_delete' style='padding: 10px 0px 10px 0px; background-color: #F9F9F9; width: 100%; text-align: center;'>

    <form name="frm" th:object="${cateVO}" method="post" action="/cate/delete">
      <input type="hidden" name="cateno" th:value="${cateVO.cateno}">
  
      <div class="msg_warning">카테고리를 삭제하면 복구 할 수 없습니다.</div>
      <label>카테고리 이름</label>: <span th:text="${cateVO.name}"></span>
      
       - <span th:text="${cateVO.namesub}"></span>
      
      <div class="content_body_bottom">
        <button type="submit" class="btn btn-secondary btn-sm">삭제</button>
        <button type="button" onclick="location.href='/cate/list_all'" class="btn btn-secondary btn-sm">목록(취소)</button>
      </div>
    </form>  
 
  </div>  
  
</div>
</html>

