<!DOCTYPE html>
<html>
<head>
  <title>http://localhost:9091/fotorama/exam2</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
 
  <script type="text/JavaScript"
            src="http://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
 
  <!-- Fotorama -->
  <link href="/fotorama/fotorama.css" rel="stylesheet">
  <script src="/fotorama/fotorama.js"></script>
 
</head>
 
<body>
 
<DIV style='margin: 0px auto; width: 800px;'>
  <!-- Fotorama data-ratio="100%/66%" -->
  <!-- data-autoplay="5000": 자동 슬라이드, data-nav="thumbs": 앨범 preview 이미지 -->
  <div class="fotorama"
         data-autoplay="5000"
         data-nav="thumbs"
         data-ratio="800/520">
    <img src="/fotorama/images/winter01.jpg"> <!-- static 폴더 기준 -->     
    <img src="/fotorama/images/winter02.jpg">
    <img src="/fotorama/images/winter03.jpg">
    <img src="/fotorama/images/winter04.jpg">
    <img src="/fotorama/images/winter05.jpg">
    <img src="/fotorama/images/winter06.jpg">
    <img src="/fotorama/images/winter07.jpg">
    <img src="/fotorama/images/winter08.jpg">
    <img src="/fotorama/images/winter09.jpg">
    <img src="/fotorama/images/winter10.jpg">
    <img src="/fotorama/images/winter11.jpg">
    <img src="/fotorama/images/winter12.jpg">
    <img src="/fotorama/images/winter13.jpg">
    <img src="/fotorama/images/winter14.jpg">
    <img src="/fotorama/images/winter15.jpg">
    <img src="/fotorama/images/winter16.jpg">
    <img src="/fotorama/images/winter17.jpg">
    <img src="/fotorama/images/winter18.jpg">
    <img src="/fotorama/images/winter19.jpg">
    <img src="/fotorama/images/winter20.jpg">
    
  </div>
</DIV>
 
</body>
</html>