<!DOCTYPE html>
<html>
<head>
  <title>http://localhost:9091/fotorama/exam1</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">

  <script type="text/JavaScript" src="http://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <!-- Fotorama -->
  <link href="/fotorama/fotorama.css" rel="stylesheet">
  <script src="/fotorama/fotorama.js"></script>
</head>

<body>

<!-- Fotorama -->
<div class="fotorama" data-width="700" data-ratio="700/467" data-max-width="100%"
       style='margin: 0px auto; width: 50%;'>
  <img src="/fotorama/images/winter01.jpg"> <!-- static 폴더 기준 -->
  <img src="/fotorama/images/winter02.jpg">
  <img src="/fotorama/images/winter03.jpg">
  <img src="/fotorama/images/winter04.jpg">
  <img src="/fotorama/images/winter05.jpg">
  <img src="/fotorama/images/winter06.jpg">
  <img src="/fotorama/images/winter07.jpg">
  <img src="/fotorama/images/winter08.jpg">
  <img src="/fotorama/images/winter09.jpg">
  <img src="/fotorama/images/winter10.jpg">
  <img src="/fotorama/images/winter11.jpg">
  <img src="/fotorama/images/winter12.jpg">
  <img src="/fotorama/images/winter13.jpg">
  <img src="/fotorama/images/winter14.jpg">  
  <img src="/fotorama/images/winter15.jpg">
</div>

</body>
</html>