*{ font-family: Malgun Gothic; font-size: 22px;}

.focus1 {
  background-color: #FFFF00; 
  color: #00FF00; 
  font-weight: bold; 
  font-size: 30px;
}

.focus2 {
  background-color: #FF0000; 
  color: #FFFFFF; 
  font-weight: bold; 
  font-size: 30px;
}    

.focus3 {
  background-color: #0000FF; 
  color: #FFFFFF; 
  font-weight: bold; 
  font-size: 30px;
}
