<!DOCTYPE html>

<html layout:decorate="~{layout}"> <!-- layout.html 상속-->
<div layout:fragment="content">
  <div class="title_line">카테고리 등록</div>
  <form name="frm" th:object="${cateVO}" method="post" action="/cate/create">
    <div style="margin: 5px auto; width: 50%;">
      <input type="text" name="name" value="" autofocus="autofocus"
             class="form-control fom-control-sm" style="width: 100%;" th:field="*{name}" placeholder="중분류 입력하세요.">
      <div th:if="${#fields.hasErrors('name')}" class="alert alert-danger" role="alert" style="margin-top: 5px;">
        <div th:each="err : ${#lists.sort(#fields.errors('name'))}" th:text="${err}"></div>
      </div>  
    </div>
    <div style="margin: 5px auto; width: 50%;">
      <input type="text" name="namesub" value="" 
             class="form-control fom-control-sm" style="width: 100%;" th:field="*{namesub}" placeholder="소분류 입력하세요.">
      <div th:if="${#fields.hasErrors('namesub')}" class="alert alert-danger" role="alert" style="margin-top: 5px;">
        <div th:each="err : ${#lists.sort(#fields.errors('namesub'))}" th:text="${err}"></div>
      </div>             
    </div>
    <div class="content_body_bottom">
      <button type="submit" class="btn btn-secondary btn-sm">등록</button>
      <button type="button" onclick="location.href='cate/list_search'" class="btn btn-secondary btn-sm">목록</button>
    </div>
  </form>  

  <table class="table table-hover">
    <colgroup>
      <col style='width: 10%;'/>
      <col style='width: 20%;'/>
      <col style='width: 20%;'/>
      <col style='width: 10%;'/>    
      <col style='width: 20%;'/>
      <col style='width: 20%;'/>
    </colgroup>
    <thead>
      <tr>
        <th class="th_bs">순서</th>
        <th class="th_bs">중분류</th>
        <th class="th_bs">소분류</th>
        <th class="th_bs">자료수</th>
        <th class="th_bs">등록일</th>
        <th class="th_bs">기타</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="cateVO:${list}">
        <td class="td_bs" th:text="${cateVO.cateno}"></td>
        <td class="td_bs"><a th:href="@{|/cate/read/${cateVO.cateno}?word=${word}|}" style="display: block;" th:text="${cateVO.name}"></a></td>
        <td class="td_bs"><a th:href="@{|/cate/read/${cateVO.cateno}?word=${word}|}" style="display: block;" th:text="${cateVO.namesub}"></a></td>
        <td class="td_bs" th:text="${cateVO.cnt}"></td>
        <td class="td_bs" th:text="${cateVO.rdate.substring(0, 10)}"></td>
        <td class="td_bs">
          <img src="/cate/images/show.png" class="icon"> <!-- /static/cate/images/show.png -->
          <img src="/cate/images/decrease.png" class="icon">
          <img src="/cate/images/increase.png" class="icon">
          <a th:href="@{|/cate/update/${cateVO.cateno}?word=${word}|}"><img src="/cate/images/update.png" class="icon"></a>
          <a th:href="@{|/cate/delete/${cateVO.cateno}?word=${word}|}"><img src="/cate/images/delete.png" class="icon"></a>
        </td>
      </tr>
    </tbody>
  </table>
  
</div>
</html>

