<!DOCTYPE html>

<html layout:decorate="~{layout}"> <!-- layout.html 상속-->
<div layout:fragment="content">
  <div class="title_line">
    카테고리  >
    <span th:text="${cateVO.name}" class="title_line_text"></span >
    <span th:if="${cateVO.namesub != '-'}" th:text="' > ' + ${cateVO.namesub}" class="title_line_text"></span>
    수정
  </div>
  <aside class="aside_right">
    <a th:href="@{|/cate/list_search?word=${word}&now_page=${now_page}|}">목록</a>
    <span class="menu_devide">│</span>
    <a th:href="@{|/cate/delete/${cateVO.cateno}?word=${word}&now_page=${now_page}|}">삭제</a>
    <span class="menu_devide">│</span>
    <a href="/cate/list_search">등록</a>
    <span class="menu_devide">│</span>
    <a href="javascript: location.reload();">새로 고침</a>
  </aside>
  <div class="menu_line"></div>
    
  <form name="frm" th:object="${cateVO}" method="post" action="/cate/update" style="width: 50%; margin: 5px auto;">
    <input type="hidden" name="cateno" th:value="${cateVO.cateno}">
    <input type="hidden" name="word" th:value="${word}">
    <input type="hidden" name="now_page" th:value="${now_page}">

    <div>
      <label>중분류</label>
      <input type="text" name="name" th:value="${cateVO.name}" autofocus="autofocus"
             class="form-control fom-control-sm" th:field="*{name}">
      <div th:if="${#fields.hasErrors('name')}" class="alert alert-danger" role="alert" style="margin-top: 5px;">
        <div th:each="err : ${#lists.sort(#fields.errors('name'))}" th:text="${err}"></div>
      </div>  
    </div>
    <div>
      <label>소분류</label>
      <input type="text" name="namesub" th:value="${cateVO.namesub}" 
             class="form-control fom-control-sm" th:field="*{namesub}">
      <div th:if="${#fields.hasErrors('namesub')}" class="alert alert-danger" role="alert" style="margin-top: 5px;">
        <div th:each="err : ${#lists.sort(#fields.errors('namesub'))}" th:text="${err}"></div>
      </div>             
    </div>
    <div>
      <label>관련 글수</label>
      <input type="number" name="cnt" th:value="${cateVO.cnt}" 
             class="form-control fom-control-sm" th:field="*{cnt}">
      <div th:if="${#fields.hasErrors('cnt')}" class="alert alert-danger" role="alert" style="margin-top: 5px;">
        <div th:each="err : ${#lists.sort(#fields.errors('cnt'))}" th:text="${err}"></div>
      </div>  
    </div>
    <div>
      <label>출력 순서</label>
      <input type="number" name="seqno" th:value="${cateVO.seqno}" 
             class="form-control fom-control-sm" th:field="*{seqno}">
      <div th:if="${#fields.hasErrors('seqno')}" class="alert alert-danger" role="alert" style="margin-top: 5px;">
        <div th:each="err : ${#lists.sort(#fields.errors('seqno'))}" th:text="${err}"></div>
      </div>             
    </div>
    <div>
      <label>출력 모드</label>
      <input type="text" name="visible" th:value="${cateVO.visible}" 
             class="form-control fom-control-sm" th:field="*{visible}"> Y / N 만 입력 가능합니다.
      <div th:if="${#fields.hasErrors('visible')}" class="alert alert-danger" role="alert" style="margin-top: 5px;">
        <div th:each="err : ${#lists.sort(#fields.errors('visible'))}" th:text="${err}"></div>
      </div>
    </div>
    
    <div class="content_body_bottom">
      <button type="submit" class="btn btn-secondary btn-sm">저장</button>
      <button type="button" th:attr="onclick=|location.href='/cate/list_search?word=${word}&now_page=${now_page}'|" class="btn btn-secondary btn-sm">취소</button>      
    </div>
    
  </form>  
  
  <!-- /templates/cate/list_all_component.html 파일의 list_all_fragment import -->
  <div th:replace="~{cate/list_all_component::list_all_fragment}"></div>
    
</div>
</html>

