<div th:fragment="navbarFragment">
  <div class="top_menu_img">
    <div class="top_menu_label">생존 오지 오버랜딩 ver 5.0</div>
  </div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
      <div class="container-fluid">
          <a class="navbar-brand" href="/">HOME</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          
          <!-- 메뉴 시작 -->
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item dropdown" th:each="cateVOMenu:${menu}">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" 
                           role="button" data-bs-toggle="dropdown" aria-expanded="false" th:text="${cateVOMenu.name}">                                                            
                      </a>
                      <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                          <li th:each="cateVO:${cateVOMenu.list_namesub}"><a class="dropdown-item" th:href="@{|/contents/list_by_cateno?cateno=${cateVO.cateno}|}" th:text="${cateVO.namesub}"></a></li>
                      </ul>
                  </li>
                  
                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" 
                           role="button" data-bs-toggle="dropdown" aria-expanded="false" th:text="회원">                                                            
                      </a>
                      <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li class="nav-item"><a class="nav-link" href="/member/create">회원 가입</a></li>
                        <li class="nav-item" th:if="${session.memberno != null}">
                            <a class="nav-link" th:href="@{|/member/read?memberno=${session.memberno}|}">회원 정보 조회</a>
                        </li>
                        <li class="nav-item" th:if="${session.memberno != null}">
                            <a class="nav-link" href="/member/passwd_update_form">비밀 번호 변경</a>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="#">아이디 찾기</a></li>         
                        <li class="nav-item"><a class="nav-link" href="#">비밀번호 찾기</a></li>
                        <li class="nav-item" th:if="${session.memberno!=null}"><a class="nav-link" href="#">로그인 내역</a></li>
                      </ul>
                  </li>
                  
                  <li class="nav-item dropdown" th:if="${session.grade=='admin'}">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" 
                           role="button" data-bs-toggle="dropdown" aria-expanded="false" th:text="관리자">                                                            
                      </a>
                      <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li class="nav-item"><a class="nav-link" href="/cate/list_search?now_page=1">카테고리 전체 목록</a></li>
                        <li class="nav-item"><a class="nav-link" href="/member/list">회원 목록</a></li>
                        <li class="nav-item"><a class="nav-link" href="/contents/list_all">전체 글 목록</a></li>
                      </ul>
                  </li>

                  <li class="nav-item">
                      <span th:if="${session.memberno == null}"><a class="nav-link" href="/member/login" th:text="@{|로그인|}"></a></span>
                      <span th:if="${session.memberno != null}"><a class="nav-link" href="/member/logout" th:text="@{|${session.id} 로그아웃|}"></a></span>
                  </li>
              </ul>
          </div>
          <!-- 메뉴 종료 -->
            
      </div>
  </nav>

</div>

