<!DOCTYPE html> 

<html layout:decorate="~{layout}"> <!-- layout.html 상속-->
<div layout:fragment="content">
  <div class='title_line'>
    <span th:text="${cateVO.name }" class="title_line_text"></span > 
    > <span th:text="${cateVO.namesub}" class="title_line_text"></span > 
    > 글 조회
  </div>
  
  <aside class="aside_right" th:if="${session.grade == 'admin'}">
    <a th:href="@{|/contents/create?cateno=${cateVO.cateno}|}">등록</a>
    <span class='menu_divide' >│</span>
    <a th:href="@{|/contents/update_text?contentsno=${contentsVO.contentsno}&now_page=${now_page}&word=${word }|}">글 수정</a>
    <span class='menu_divide' >│</span>
    <a th:href="@{|./update_file?contentsno=${contentsVO.contentsno}&word=${word}&now_page=${now_page}|}">파일 수정</a>  
    <span class='menu_divide' >│</span>
    <a th:href="@{|/contents/map?cateno=${contentsVO.cateno }&contentsno=${contentsVO.contentsno}|}">지도</a>
    <span class='menu_divide' >│</span>
    <a th:href="@{|/contents/youtube?cateno=${contentsVO.cateno }&contentsno=${contentsVO.contentsno}&word=${word}&now_page=${now_page}|}">Youtube</a>
    <span class='menu_divide' >│</span>
    <a th:href="@{|./delete?contentsno=${contentsVO.contentsno}&word=${word}&now_page=${now_page}&cateno=${contentsVO.cateno}|}">삭제</a>  
    <span class='menu_divide' >│</span>

    <a href="javascript:location.reload();">새로고침</a>
    <span class='menu_divide' >│</span>    
    <a th:href="@{|./list_by_cateno?cateno=${cateVO.cateno }&word=${word }&now_page=${now_page}|}">목록형</a>    
    <span class='menu_divide' >│</span>
    <a th:href="@{|./list_by_cateno_grid?cateno=${cateno }&word=${word }&now_page=${now_page}|}">갤러리형</a>
  </aside> 

  <aside class="aside_right" th:if="${session.grade != 'admin'}">
     <a href="javascript:location.reload();">새로고침</a>
    <span class='menu_divide' >│</span>    
    <a th:href="@{|./list_by_cateno?cateno=${cateVO.cateno }&word=${word }&now_page=${now_page}|}">목록형</a>    
    <span class='menu_divide' >│</span>
    <a th:href="@{|./list_by_cateno_grid?cateno=${cateno }&word=${word }&now_page=${now_page}|}">갤러리형</a>
  </aside> 
 
  <div class='menu_line'></div>

  <fieldset class="fieldset_basic">
    <ul>
      <li class="li_none">
        <div style="width: 100%; word-break: break-all;">
        
          <div th:if="${contentsVO.file1.endsWith('jpg') or contentsVO.file1.endsWith('png')  or contentsVO.file1.endsWith('gif')}">
            <img th:src="@{|/contents/storage/${contentsVO.file1saved}|}" style='width: 50%; float: left; margin-top: 0.5%; margin-right: 1%;'>
          </div>

          <span style="font-size: 1.5em; font-weight: bold;" th:text="${contentsVO.title}"></span>
          <span style="font-size: 1em;" th:text="${contentsVO.rdate }"></span><br><br>
          <div style="white-space: pre-wrap;"><span th:text="${contentsVO.content}"></span></div>
        </div>
      </li>

      <li class="li_none" style="clear: both; padding-top: 10px; padding-bottom: 25px;" 
           th:if="${contentsVO.youtube.length() > 0}">
        <div style='text-align: center; width:640px; margin: 0px auto;'
                th:utext = "${contentsVO.youtube }">
        </div>
      </li>
            
      <li class="li_none" style="clear: both; padding-top: 10px; padding-bottom: 25px;" 
           th:if="${contentsVO.map.length() > 0}">
        <div style='text-align: center; width:640px; margin: 0px auto;'
                th:utext = "${contentsVO.map }">
        </div>
      </li>
      
      <li class="li_none" th:text="|검색어(키워드): ${contentsVO.word }|">
      </li>
      
      <li class="li_none" th:if="${contentsVO.size1 > 0}">
        <div >
          <!-- ServletRegister.java: registrationBean.addUrlMappings("/download"); -->
          첨부 파일: <a th:href='@{|/download?dir=/contents/storage&filename=${contentsVO.file1saved}&downname=${contentsVO.file1}|}'
                             th:text='|${contentsVO.file1}|'></a> <span th:text="|(${contentsVO.size1_label})|"></span>  
        </div>
      </li>
      
      <li class="li_none">
        <!-- ------------------------------ 댓글 영역 시작 ------------------------------ -->
        <script>
          let reply_data; // 댓글 500건 저장
          let reply_now_page=1; // 댓글 현재 페이지
        </script>
        
        <script>
          window.onload = () => {
            let content_tag = document.getElementById('content');
            let btn_create_tag = document.getElementById('btn_create'); // 등록
            let btn_add = document.getElementById('btn_add'); // 더보기
            let reply_list = document.getElementById('reply_list'); // 목록 출력 panel
            
            content_tag.addEventListener('click', () => {
              let id =  '[[${session.id}]]'; //  javascript -> Thymeleaf -> session
              // alert('Click!: ' + id);
              if (id == '') {
                alert('로그인해야 댓글을 입력 할 수 있습니다.');
                location.href="/member/login?url=/contents/read?contentsno=[[${contentsVO.contentsno}]]%26word=[[${word}]]%26now_page=[[${now_page}]]";
              } else {
                // alert('로그인 됨');
                // content_tag.focus();
              }
            });
            
            btn_create_tag.addEventListener('click', () => {
              let content = content_tag.value.trim();
              
              if (content.length == 0) {
                alert('내용이 없습니다. 내용을 입력해주세요.');
              } else {
                // alert('content: ' + content_tag.value);
                // {"sentence":"안녕하세요.","language":"영어","age":"25"}
                // console.log(JSON.stringify({sentence, language, age}))
                // return;
        
                // Spring Security를 사용하지 않고 CORS 설정시 접근 안됨.
                // fetch("http://127.0.0.1:9091/reply/create", {
                fetch("/reply/create", {
                  "method": "post", 
                  "headers": {"Content-Type": "application/json"},
                  body: JSON.stringify({"contentsno": "[[${contentsVO.contentsno}]]", "content": content})
                })
                .then((response) => response.json())
                .then((data) => {
                  list_by_contentsno_join(); // 목록 출력
                  content_tag.value='';
                  content_tag.focus();
                });
        
                // result_animation_tag.innerHTML = '<img src="/static/images/progress.gif" style="width: 15%; margin-top: 0px;">';

              }

            });
            
            // 자바 스크립트는 변수명에 '-' 사용 못함.
            btn_add.addEventListener('click', () => {
              // 현재 페이지보다 레코드 갯수가 더 많은 경우만 실행
              if (reply_data.length > reply_now_page * 5 ) { // 5, 10, 15, 20, 25 X 
                // let data_replypage = reply_list.getAttribute('data-replypage');
                // console.log('-> data_replypage typeof:' + typeof data_replypage );
                let start = 0; // 출력 순환 시작 index
                let end = 0;  // 출력 순환 종료 index
                if (reply_data.length > 5) {
                  start = reply_now_page * 5;
                  end = (reply_now_page * 5) + 5; // 시작 index + 페이지 당 레코드 수
                  
                  let msg = '';
                  let page_div = document.createElement('div'); // 글내용
                  for (let i = start; i < end; i++) { // 5 ~ 9, 10 탈출
                    if (i == reply_data.length) { // 모든 태그를 출력한 이후인지 검사
                      break;
                    }

                    let row = reply_data[i];
                    msg += "<div id='"+row.replyno+"' style='border-bottom: solid 1px #EEEEEE; margin-bottom: 10px;'>";
                    msg += "<span style='font-weight: bold;'>" + row.id + "</span>";
                    msg += "  " + row.rdate;
              
                    if ('[[${session.memberno}]]' == row.memberno) { // 글쓴이 일치여부 확인, 본인의 글만 삭제 가능함 ★
                      msg += " <a href='javascript:reply_update("+row.replyno+")'><img src='/reply/images/update.png' style='width: 16px;'></a>";
                      msg += " <a href='javascript:reply_delete("+row.replyno+")'><img src='/reply/images/delete.png' style='width: 16px;'></a>";
                    }
                    msg += "  " + "<br>";
                    msg += row.content;
                    msg += "</div>";

                  }
                  page_div.innerHTML = msg; //  페이지에 속한 레코드들 추가
                  reply_list.appendChild(page_div);
                  
                  reply_now_page = reply_now_page + 1;
                }             
                
              }
            });            
            
            list_by_contentsno_join(); // 목록 출력
          }
          
          // 5건 미만이면 5회 미만 순환, 5건 이상 5회 순환
          function list_by_contentsno_join() { // 목록 출력
            let cnt = 0; // 출력 순환 횟수  
          
            // Spring Security를 사용하지 않고 CORS 설정시 접근 안됨.
            // fetch("http://127.0.0.1:9091/reply/create", {
            fetch("/reply/list_by_contentsno_join?contentsno=[[${contentsVO.contentsno}]]", {
              "method": "get" 
            })
            .then((response) => response.json())
            .then((data) => {
              reply_data = data['res'];
              // alert(reply_data.length);
              // return;
              if (reply_data.length > 5) {
                cnt = 5;
              } else {
                cnt = reply_data.length;
              }
              
              // console.log('-> cnt: ' + cnt);
              
              // alert('res: ' + data['res']);
              // result_tag.value = data['res'];
              // result_animation_tag.innerHTML = '';
              let msg = '';
              for (let i=0; i < cnt; i++) {
                // let row = data['res'][i];
                let row = reply_data[i];
                msg += "<div id='"+row.replyno+"' style='border-bottom: solid 1px #EEEEEE; margin-bottom: 10px;'>";
                msg += "<span style='font-weight: bold;'>" + row.id + "</span>";
                msg += "  " + row.rdate;
          
                if ('[[${session.memberno}]]' == row.memberno) { // 글쓴이 일치여부 확인, 본인의 글만 삭제 가능함 ★
                  msg += " <a href='javascript:reply_update("+row.replyno+")'><img src='/reply/images/update.png' style='width: 16px;'></a>";
                  msg += " <a href='javascript:reply_delete("+row.replyno+")'><img src='/reply/images/delete.png' style='width: 16px;'></a>";
                }
                msg += "  " + "<br>";
                msg += row.content;
                msg += "</div>";
              }
              
             document.getElementById("reply_list").innerHTML = msg;               
              
            });
      
          }
        </script>
        
        <div style='width: 100%; margin: 0px auto; clear: both;'>
            <form name='frm_reply' id='frm_reply'> 
                <input type='hidden' name='contentsno' id='contentsno' value='${contentsno}'>
                <input type='hidden' name='memberno' id='memberno' value='${sessionScope.memberno}'>
                
                <textarea name='content' id='content' class="form-control" style='width: 100%; height: 60px;' 
                               placeholder="댓글 작성, 로그인해야 등록 할 수 있습니다." autofocus='autofocus'></textarea>
               <div style='text-align: center;'> 
                 <button type='button' id='btn_create'>&nbsp;&nbsp;등&nbsp;&nbsp;록&nbsp;&nbsp;</button>
               </div>               
            </form>
            <div id='reply_list' data-replypage='1'>  <!-- 목록 -->
              등록된 댓글이 없습니다.
            </div>
            <div id='reply_list_btn' style='border: none'>
                <button id='btn_add' style='width: 100%;'>더보기 ▽</button>
            </div>  
          
        </div>
        
        <!-- ------------------------------ 댓글 영역 종료 ------------------------------  -->
  
      </li>   
    </ul>
  </fieldset>

</div>

</html>

