<!DOCTYPE html>
<html layout:decorate="~{layout}"> <!-- layout.html 상속 -->
  <div layout:fragment="content" style="width: 80%; margin: 50px auto; text-align: center;">
    <div style="text-align: center;">
      <a class="nav-link" href="/drama/list_search?word=K-이달의 추천"><p style="font-size: 27px; font-weight: bold;"><"이달의 추천" 국내  K - 드라마 보러가기></p></a>
      <a class="nav-link" href="/drama/list_search?word=K-이달의 추천"><img src="/images/kbroadcast.jpg" style="width: 80%;"></a> <!-- /static/images/kbroadcast.jpg -->
    </div>
    <div style="text-align: center; margin-top: 30px;">
      <a class="nav-link" href="/drama/list_search?word=G-이달의 추천"><p style="font-size: 27px; font-weight: bold;"><"이달의 추천" 해외  G - 드라마 보러가기></p></a>
      <a class="nav-link" href="/drama/list_search?word=G-이달의 추천"><img src="/images/gbroadcast.png" style="width: 80%;"></a> <!-- /static/images/gbroadcast.png -->
    </div>
  </div>
</html>