<div th:fragment="navbarFragment">
  <div class="top_menu_img">
    <div class="top_menu_label">인싸호소인 사이트</div>
  </div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
      <div class="container-fluid">
          <a class="navbar-brand" href="/"><img src="/images/instagramCon.png" ></a> <!-- 홈 아이콘 -->
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          
          <!-- 메뉴 시작 -->
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item dropdown" th:each="hotplaceVOMenu:${menu}">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" 
                           role="button" data-bs-toggle="dropdown" aria-expanded="false" th:text="${hotplaceVOMenu.a}">                                                            
                      </a>
                      <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                          <li th:each="hotplaceVO:${hotplaceVOMenu.list_b}"><a class="dropdown-item" href="#" th:text="${hotplaceVO.b}"></a></li>
                      </ul>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="/hotplace/list_search?now_page=1">카테고리 전체 목록</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="/member/create">회원 가입</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="/member/list">회원 목록</a>
                  </li>
                  <li class="nav-item" th:if="${session.memberno != null}">
                      <a class="nav-link" href="/member/passwd_update_form">비밀 번호 변경</a>
                  </li>
                  <li class="nav-item" th:if="${session.memberno != null}">
                      <a class="nav-link" href="/member/grade_update_form">회원 등급 변경</a>
                  </li>
                  <li class="nav-item">
                      <span th:if="${session.memberno == null}"><a class="nav-link" href="/member/login" th:text="@{|로그인|}"></a></span>
                      <span th:if="${session.memberno != null}"><a class="nav-link" href="/member/logout" th:text="@{|${session.id} 로그아웃|}"></a></span>
                  </li>
              </ul>
          </div>
          <!-- 메뉴 종료 -->
            
      </div>
  </nav>

</div>

