<!DOCTYPE html>

<html layout:decorate="~{layout}"> <!-- layout.html 상속-->
<div layout:fragment="content">
  <div class="title_line">카테고리 >
    <span th:text="${hotplaceVO.a}" class="title_line_text"></span>
    
    <span th:if="${hotplaceVO.b != '-'}" th:text="' > ' + ${hotplaceVO.b}" class="title_line_text"></span>
  </div>
  <aside class="aside_right">
    <a th:href="@{|/hotplace/list_search?word=${word}&now_page=${now_page}|}"><img src="/images/listicon.png" class="icon">목록</a>
    <span class="menu_devide">│</span>
    <a th:href="@{|/hotplace/update/${hotplaceVO.hotplaceno}?word=${word}&now_page=${now_page}|}"><img src="/images/updateicon.png" class="icon">수정</a>
    <span class="menu_devide">│</span>
    <a th:href="@{|/hotplace/delete/${hotplaceVO.hotplaceno}?word=${word}&now_page=${now_page}|}"><img src="/images/deleteicon.png" class="icon">삭제</a>
    <span class="menu_devide">│</span>
    <a href="/hotplace/list_search"><img src="/images/createicon.png" class="icon">등록</a>
    <span class="menu_devide">│</span>
    <a href="javascript: location.reload();"><img src="/images/loadicon.png" class="icon">새로 고침</a>
  </aside>
  <div class="menu_line"></div>
  
  <div class="container mt-3" style="width: 50%; margin: 5px auto;">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">번호: <span th:text="${hotplaceVO.hotplaceno}"></span></li>
      <li class="list-group-item">중분류: <span th:text="${hotplaceVO.a}"></span></li>
      <li class="list-group-item">소분류: <span th:text="${hotplaceVO.b}"></span></li>
      <li class="list-group-item">관련 자료수: <span th:text="${hotplaceVO.cnt}"></span></li>
      <li class="list-group-item">등록일: <span th:text="${hotplaceVO.rdate}"></span></li>
      <li class="list-group-item">출력 순서: <span th:text="${hotplaceVO.seqno}"></span></li>
      <li class="list-group-item">출력 모드: <span th:text="${hotplaceVO.visible}"></span></li>
    </ul>  
  </div>

  <!-- /hotplace/list_all_component.html 파일의 list_all_fragment import -->
  <div th:replace="~{hotplace/list_all_component::list_all_fragment}"></div>
 
</div>
</html>



